body, html {
  margin: 0;
  padding: 0;
}

html {
  font: 10px/1.5 Open Sans, sans-serif;
}

body {
  font-size: 1.6rem;
  margin: 2rem;
}

@media screen and (min-width: 1024px) {
  body {
    margin: 3rem auto;
    width: 960px;
  }
}
