{% extends 'base/index.html' %}

{% load static %}

{% block title %}CommonJS / {{ block.super }}{% endblock %}

{% block js %}
  <script src="{% static 'main/common-bundle.js' %}"></script>
{% endblock %}

{% block content %}
  <h2 class="demo-title">CommonJS</h2>
  <p>
    Server-side dependencies compilation.
    <code>CommonJS</code> is implemented in Node.js as default module loader
    (e.g. <code>var $ = require('jquery')</code>).
  </p>
  <ul class="pros-cons">
    <li><i>+</i> Script relations are explicit</li>
    <li><i>+</i> Tree requirements model</li>
    <li><i>+</i> Easy to have multiple versions, no version conflicts</li>
    <li><i>+</i> Easy to use with ES6</li>
    <li><i>-</i> Slower in development (bundle re-build on each change)</li>
    <li><i>-</i> Not perfectly integrated with Django</li>
    <li><i>-</i> <em>Maybe</em> harder to debug</li>
  </ul>
  <p>
    <strong>Test it:</strong> open your browser console and look for messages. <br>
    Also, take a look at the code in <code>main/common.html</code> template.
  </p>
  <nav class="navigation">
    <a class="prev" href="{% url 'amd' %}">AMD</a>
    <em class='next'>ES6 modules (coming soon ...)</em>
  </nav>
{% endblock %}
