{% extends 'base/page.html' %}

{% load static %}

{% block title %}CommonJS bundle / {{ block.super }}{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'main/common-bundle.js' %}"></script>
{% endblock %}

{% block content %}
  <h2 class="demo-title">CommonJS bundle</h2>
  <pre><code>var $ = require('jquery');
var base = require('base/common');

$(function() {
  console.log(base.x + 42);
});</code></pre>
  <p>
    CommonJS is default module loader in Node.js.
    It can be used to compile JS bundle on the server-side.
  </p>
  <ul class="pros-cons">
    <li><i>+</i> Script relations are explicit</li>
    <li><i>+</i> Tree requirements model</li>
    <li><i>+</i> Easy to have multiple versions, no version conflicts</li>
    <li><i>+</i> Easy to use with ES6</li>
    <li><i>-</i> Slower in development (bundle re-build on each change)</li>
    <li><i>-</i> Not perfectly integrated with Django</li>
    <li><i>-</i> <em>Maybe</em> harder to debug</li>
  </ul>
  <p>
    <em>Test it:</em> open your browser console and look for messages.
    Also, take a look at the code in <code>main/common.html</code> template
    and in the linked JS files.
  </p>
  <nav class="navigation">
    <a class="prev" href="{% url 'amd' %}">AMD</a>
    <a class='next' href="{% url 'es6' %}">ES6 bundle</a>
  </nav>
{% endblock %}
