{% extends 'base/page.html' %}

{% load static %}

{% block title %}ES6 bundle + shim / {{ block.super }}{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'jquery/dist/jquery.js' %}"></script>
  <script src="{% static 'main/es6-shim-bundle.js' %}"></script>
{% endblock %}

{% block content %}
  <h2 class="demo-title">ES6 bundle + shim</h2>
  <pre><code>import $ from 'jquery';
import base from 'base/es6';
$(() => console.log(base.x + 42));</code></pre>
  <p>
    Same as the previous example but 3rd-party libraries (like jQuery)
    are excluded from the bundle.
  </p>
  <ul class="pros-cons">
    <li><i>+</i> Script relations are explicit</li>
    <li><i>+</i> Tree requirements model</li>
    <li><i>+</i> Easy to have multiple versions, no version conflicts</li>
    <li><i>+</i> Easy to use with ES6</li>
    <li><i>+</i> Avoid bundling of 3rd-party libraries</li>
    <li><i>-</i> Slower in development (bundle re-build on each change)</li>
    <li><i>-</i> Not perfectly integrated with Django</li>
    <li><i>-</i> <em>Maybe</em> harder to debug</li>
  </ul>
  <p>
    <em>Test it:</em> open your browser console and look for messages.
    Also, take a look at the code in <code>main/es6-trim.html</code> template
    and in the linked JS files. The bundle doesn't include jQuery now.
  </p>
  <nav class="navigation">
    <a class="prev" href="{% url 'es6' %}">ES6 bundle</a>
  </nav>
{% endblock %}
