{% extends 'base/index.html' %}

{% load static %}

{% block title %}Plain scripts / {{ block.super }}{% endblock %}

{% block js %}
  <script src="{% static 'jquery/dist/jquery.js' %}"></script>
  <script src="{% static 'base/plain.js' %}"></script>
  <script src="{% static 'main/plain.js' %}"></script>
{% endblock %}

{% block content %}
  <h2 class="demo-title">Plain scripts</h2>
  <p>
    Plain <code>&lt;script&gt;</code> tags inclusion.
  </p>
  <ul>
    <li>Simple & most common option</li>
    <li>May be in multiple Django templates</li>
    <li>Script relations are implicit</li>
    <li>May be hard to have multiple versions</li>
    <li>May be hard to handle version conflicts</li>
  </ul>
{% endblock %}
