{% extends 'base/page.html' %}

{% load static %}

{% block title %}Plain scripts / {{ block.super }}{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'jquery/dist/jquery.js' %}"></script>
  <script src="{% static 'base/plain.js' %}"></script>
  <script src="{% static 'main/plain.js' %}"></script>
{% endblock %}

{% block content %}
  <h2 class="demo-title">Plain scripts</h2>
  <pre><code>&lt;script src="{% static 'jquery/dist/jquery.js' %}"&gt;&lt;/script&gt;
&lt;script src="{% static 'base/plain.js' %}"&gt;&lt;/script&gt;
&lt;script src="{% static 'main/plain.js' %}"&gt;&lt;/script&gt;</code></pre>
  <p>
    Plain <code>&lt;script&gt;</code> tags inclusion.
  </p>
  <ul class="pros-cons">
    <li><i>+</i> Simple & most common option</li>
    <li><i>+</i> Fastest in development (no processing)</li>
    <li><i>+</i> Easy to debug</li>
    <li><i>+</i> Integrated with Django</li>
    <li><i>-</i> Script relations are implicit</li>
    <li><i>-</i> <em>Maybe</em> located in multiple files</li>
    <li><i>-</i> <em>Maybe</em> hard to have multiple versions or handle version conflicts</li>
    <li><i>-</i> <em>Maybe</em> hard to use with ES6</li>
  </ul>
  <p>
    <em>Test it:</em> open your browser console and look for messages.
    Also, take a look at the code in <code>main/plain.html</code> template
    and in the linked JS files.
  </p>
  <nav class="navigation">
    <a class="prev" href="{% url 'index' %}">Home</a>
    <a class="next" href="{% url 'amd' %}">AMD</a>
  </nav>
{% endblock %}
